<%= render :partial => 'shared/form_errors', locals: { object: @user } %>
<div class="form-group">
  <%= profile_form.label :first_name, 'Name' %>
  <section>
    <div class="col-sm-6">
      <%= profile_form.text_field :first_name, :class => 'form-control', required: 'required', placeholder: 'First Name', style: 'float: left;' %>
    </div>
    <div class="col-sm-6">
      <%= profile_form.text_field :last_name, :class => 'form-control', required: 'required', placeholder: 'Last Name', style: 'float: left;'  %>
    <div>
  </section>
</div>
<div class="form-group">
  <%= profile_form.label :email %>
  <%= profile_form.text_field :email, :type => 'email', :required => 'required', :class => 'form-control', placeholder: 'Email'%>
</div>

<% if @user.new_record? -%>
<div class="form-group">
  <%= profile_form.label  :password %>
  <%= profile_form.password_field :password, :class => 'form-control', required: 'required', placeholder: 'Create a password', pattern: '.{4,}', title: 'make a password at least four characters long' %>
  <!-- <p class="help-block">Enter a password so you can log in later.</p> -->
</div>
<% end -%>

<div class="form-group">
  <label style="display: block;">Where do you live?</label>
  <section>
    <div class="col-sm-6">
      <%= profile_form.text_field :city, :class => 'form-control', required: 'required', placeholder: 'City' %>
    </div>
    <div class="col-sm-6">
      <%= profile_form.select :state, options_for_select(@states, @user.state), {}, :class => 'form-control', required: 'required', placeholder: 'State' %>
    </div>
  </section>
</div>

<div class="form-group">
  <label>I am a...</label>
  <div>
    <%= profile_form.radio_button :applicant_type, 'undergrad_student', required: 'required' %>
    <%= profile_form.label :applicant_type_undergrad_student, 'Undergraduate student' %>
    <div class="form-option-details">
      Anticipated graduation:
      <%= select_tag :anticipated_undergrad_graduation, options_for_select(graduation_years, params[:anticipated_undergrad_graduation]) %>
    </div>
  </div>
  <div>
    <%= profile_form.radio_button :applicant_type, 'grad_student', required: 'required' %>
    <%= profile_form.label :applicant_type_grad_student, 'Graduate student' %>
    <div class="form-option-details">
      Anticipated graduation:
      <%= select_tag :anticipated_grad_graduation, options_for_select(graduation_years, params[:anticipated_grad_graduation]) %>
    </div>
  </div>
  <div>
    <%= profile_form.radio_button :applicant_type, 'school_student' %>
    <%= profile_form.label :applicant_type_school_student, 'Middle school or high school student', required: 'required' %>
    <div class="form-option-details">
      Grade:
      <%= select_tag :grade, options_for_select([12, 11, 10, 9, 8, 7, 6], params[:grade]) %>
    </div>
  </div>
  <div>

    <%= profile_form.radio_button :applicant_type, 'professional', required: 'required' %>
    <%= profile_form.label :applicant_type_professional, 'Local Professional' %>
    <div class="form-option-details">
      <%= text_field_tag :professional_details, nil, :class => 'form-control', :placeholder => 'What do you do?', :value => params[:professional_details] %>
    </div>
  </div>
  <!--
  <div>
    <%= profile_form.radio_button :applicant_type, 'supporter', required: 'required' %>
    <%= profile_form.label :applicant_type_supporter, 'Supporter' %>
  </div>
  -->
  <div>
    <%= profile_form.radio_button :applicant_type, 'family_member', required: 'required' %>
    <%= profile_form.label :applicant_type_family_member, 'Family member of a Beyond Z Participant' %>
  </div>
  <div>
    <%= profile_form.radio_button :applicant_type, 'other', required: 'required' %>
    <%= profile_form.label :applicant_type_other, 'Other?' %>
    <div class="form-option-details">
      <%= text_field_tag :other_details, nil, :class => 'form-control', :placeholder => 'Who?', :value => params[:other_details] %>
    </div>
  </div>
</div>

<!--
<div class="form-group">
  <%= profile_form.check_box :keep_updated, checked: true %>
  <%= profile_form.label :keep_updated, 'Keep me updated about the BZ 2014-2015 Program' %>
</div>
-->